body{
    background-image: url("http://osiris-ent.ucoz.ru/f1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.single_film{
    height: 450px;
    width: 550px;

}
#film_container{
    background-color: #101010;
    text-align: center;
    align-content: center;
    margin: 65px 65px 30px 80px;


}
p{
    color: white;
}


